<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="main">
        <div id="mainBox">
            <form action="">
                <div id="greet">
                    <h3>Welcome!</h3>
                </div>

                <div id="login">
                    <input name="username" id="username" class="fields" type="text" placeholder="username">
                    <input name="password" id="password" class="fields" type="password" placeholder="password">
                    <!-- <input id="fields" type="password" placeholder="password"><br><br> -->
                    <!-- <input type="checkbox" onclick="myFunction">   Show password -->
                    
                    <button type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
    <!-- <script src="script.js"></script> -->
</body>
</html>